body {
    /* height: 1024px; */
    background-color: black;
    background-image: url('image/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll; 
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0; 
}







.inter-font {
    font-family: 'Inter', sans-serif;
}

 /* Main container */
    .main-container {
        width: 100%;
        /* height: calc(100% - 47px); */
        height:fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        padding: 0px 20px 166px 20px;
    }
    .form-align{
        width: 100%;
    }
    /* Background blur element */
    .background-blur {
        position: absolute;
        top: -100px;
        margin: 0px auto;
        width: 282px;
        height: 282px;
        z-index: -1;
        border-radius: 200px;
         filter: blur(55px);
    }
    
    /* Logo section */
    .logo-section {
        padding-left: 20px;
        padding-top: 20px;
        position: relative;
        z-index: 3;
    }
  
    /* Lock icon  */
    .lock{
        width: 169px;
        height: 99px;
        z-index: -2;
    }
    /* Headings */
    .main-heading {
        
        font-size: 20px;
        line-height: 33px;
        color: white;
        font-weight: bold;
        margin-bottom: -10px;
        margin-top: -45px;
    }
    
    .sub-heading {

        font-size: 17px;
        line-height: 28px;
        color: white;
        font-weight: bold;
    }
    
    .description {

        font-size: 12px;
        line-height: 16px;
        width: 100%;

        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        margin-top: 10px;
        text-align: center;
    }
    
    .space{
        /* gap: 10px; */
        width: 100%;
        align-items: center;
    }
    .name-input{
    margin-bottom: 10px;
   }
    .earlyAccessForm{
        width: 100%;
    }
    /* Form elements */
    .form-input {
        font-size: 12px;
        padding: 5px 10px;

        width: 100%;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        line-height: 27px;
        outline: none;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
    }
  .check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(255, 255, 255, 0.70);
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check.checked {
    background-color: white;
    border-color: white;
}

.tick {
    display: none;
    width: 100%;
    height: 100%;
}

.check.checked .tick {
    display: block;
}
    .form-input:focus {
        box-shadow: none;
        outline: none;
    }
    
    .form-input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    
    .email-input {
        margin-top: 10px;
        margin-bottom: 24px;
        width: 100%;
        gap: 6px;
    }
    
    /* CTA Button */
    .cta-button {
        font-size: 15px;
        
        width: 100%;
        line-height: 26px;
        margin-bottom: 10px;
        background-color: white;
        padding: 8px 0px;
        border-radius: 8px;
        font-weight: 500;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
        border: none;
        cursor: pointer;
    }
    
    /* Footer text */
    .patent-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #BDBDBD;
        width: fit-content;
    }
    
    .copyright {
        position: relativea;
        bottom: 0px;
        font-size: 10px;
        color: #E2E2E2;
        font-weight: 400;
        line-height: 18px;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    .drumlatch{
        width: 185px;
        height: 30.7px;

    }
     .drumLogo1{
        display: none;
     

    }
     .drumLogo2{
        display: block;
           width: 27.32px;
        height:  27px;
    }


@media (min-width: 323px) {
 
    /* Main container */
    .main-container {
        width: 100%;
        /* height: calc(100% - 47px); */
        height:fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        padding: 0px 20px 166px 20px;
    }
    .form-align{
        width: 100%;
    }
    /* Background blur element */
    .background-blur {
        position: absolute;
        top: -100px;
        margin: 0px auto;
        width: 282px;
        height: 282px;
        z-index: -1;
        border-radius: 200px;
         filter: blur(55px);
    }
    
    /* Logo section */
    .logo-section {
        padding-left: 20px;
        padding-top: 20px;
        position: relative;
        z-index: 3;
    }
  
    /* Lock icon  */
    .lock{
        width: 169px;
        height: 99px;
        z-index: -2;
    }
    /* Headings */
    .main-heading {
        
        font-size: 26px;
        line-height: 41px;
        color: white;
        font-weight: bold;
        margin-bottom: -10px;
        margin-top: -45px;
    }
    
    .sub-heading {

        font-size: 19px;
        line-height: 32px;
        color: white;
        font-weight: bold;
    }
    
    .description {

        font-size: 14px;
        line-height: 17px;
        width: 100%;

        margin-bottom: 30px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        margin-top: 20px;
        text-align: center;
    }
    
    .space{
        /* gap: 10px; */
        width: 100%;
        align-items: center;
    }
    .name-input{
    margin-bottom: 10px;
   }
    .earlyAccessForm{
        width: 100%;
    }
    /* Form elements */
    .form-input {
        font-size: 14px;
        padding: 9px 16px;

        width: 100%;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 12px;
        line-height: 30px;
        outline: none;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
    }
    
    .form-input:focus {
        box-shadow: none;
        outline: none;
    }
    
    .form-input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    
    .email-input {
        margin-top: 10px;
        margin-bottom: 24px;
        width: 100%;
    }
    
    /* CTA Button */
    .cta-button {
        font-size: 18px;
        
        width: 100%;
        line-height: 30px;
        margin-bottom: 10px;
        background-color: white;
        padding: 10px 0px;
        border-radius: 12px;
        font-weight: 500;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
        border: none;
        cursor: pointer;
    }
    
    /* Footer text */
    .patent-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #BDBDBD;
        width: fit-content;
    }
    
    .copyright {
        position: relativea;
        bottom: 0px;
        font-size: 12px;
        color: #E2E2E2;
        font-weight: 400;
        line-height: 18px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    .drumlatch{
        width: 185px;
        height: 30.7px;

    }
     .drumLogo1{
        display: none;
     

    }
     .drumLogo2{
        display: block;
           width: 27.32px;
        height:  27px;
    }
}

/* ===== DESKTOP STYLES ONLY (496px and above) ===== */
@media (min-width: 496px) {
    .background-blur {
    top: -94px;
    width: 366.22px;
    height: 265.6px;
   
    border-radius: 300px;
    filter: blur(70px);
}
   .name-input{
    margin-bottom: 14px;
   }
    .space{
        /* gap: 14px; */
        width: 386px;
    }
    .form-align{
        align-items: center;
    }
     .lock{
        width: 132px;
        height: 188px;
        z-index: -2;

    }
    
    
    /* Headings */
    .main-heading {
        
        font-size: 32px;
        line-height: 41px;
        margin-top: -77px;

       
    }
    
    .sub-heading {

        font-size: 25px;
        line-height: 32px;

        
    }
    
    .description {

        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
       
    }
    
    
    /* CTA Button */
    .cta-button {
        line-height: 30px;
        margin-bottom: 10px;

       
}
 .drumLogo1{
        width: 305px;
        height:  50.61px;

    }
}

/* ===== DESKTOP STYLES ONLY (548px and above) ===== */
@media (min-width: 548px) {
    .main-container{
        margin-top: 0px;
    }
    .drumLogo2{
        display: none;
      
    }
     .drumLogo1{
        display: block;
          width: 185px;
        height: 30.7px;
    }
    .logo-section{
    padding-left: 30px;
    padding-top: 30px;
    }
    /* Headings */
    .main-heading {
        
        font-size: 37px;
        line-height: 45px;

      
    }
    
    .sub-heading {

        font-size: 25px;
        line-height: 36px;

    }
    
    .description {

        font-size: 18px;
        line-height: 25px;
        width: 451px;
        margin-top: 12px;

        
    }
    
    
     
    .email-input {
        margin-bottom: 30px;
    }
    
    /* CTA Button */
    .cta-button {
        line-height: 30px;
        margin-bottom: 10px;

        
    }
    
    .drumlatch{
        width: 185px;
        height: 30.7px;

    }
}

/* ===== DESKTOP STYLES ONLY (650px and above) ===== */
@media (min-width: 650px) {
     .background-blur {
                   top: -223px;
        width: 450px;
        height: 450px;
        border-radius: 300px;
        filter: blur(100px);
}
        .main-container {
        margin-top: 0px;
    }

    .lock {
        z-index: -2;
        width: 222px;
        height: 278px;
    }
    
    /* Headings */
    .main-heading {
        
        font-size: 37px;
        line-height: 45px;
        margin-top: -107px;
    }

    
    .sub-heading {

        font-size: 25px;
        line-height: 36px;

       
    }
    
    .description {

        font-size: 18px;
        width: 451px;
        line-height: 25px;
        margin-top: 12px;
        margin-bottom: 30px;

        
    }
    
    /* Form elements */
    .form-input {
        width: 389px;

 
    }
    
    
    .email-input {
        margin-bottom: 30px;
    }
    
    /* CTA Button */
    .cta-button {
        line-height: 30px;
          margin-bottom: 10px;
    }
    
  
    .copyright {
        font-size: 12px;

    }
    .drumlatch{
         width: 185px;
        height: 30.7px;

    }
}

/* ===== DESKTOP STYLES ONLY (750px and above) ===== */
@media (min-width: 750px) {
         .main-container {
        margin-top: 0px;
    }
    .logo-section{
    padding-left: 40px;
    padding-top: 40px;
    }
        .drumLogo1{
          width: 200px;
        height: 33.19px;
    }

    /* Headings */
    .main-heading {

        font-size: 50px;
        line-height: 75px;
        margin-top: -118px;
    }
    
    .sub-heading {

        font-size: 40px;
        line-height: 65px;
    }
    
    .description {

        font-size: 22px;
        width: 609px;
    }
    
    /* Form elements */
    .form-input {


        font-size: 16px;
        line-height: 30px;
        width: 100%;

      
    }
    
   
   
 
    .email-input {
        margin-bottom: 30px;
    }
    
    /* CTA Button */
    .cta-button {
        background-color: white;
        padding: 16px 40px;
        border-radius: 12px;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
    
    
    .copyright {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
 .drumlatch{
        width: 200px;
        height: 33.19px;

    }
}


/* ===== DESKTOP STYLES ONLY (880px and above) ===== */
@media (min-width: 880px) {
    
    .check{
        width: 18px;
        height: 18px;

    }
  .patent-text {
        font-size: 18px;
  }
  
  .email-input{
    margin-top: 14px;
  }
    .space{
        width: 613px;

    }
    /* Main container */
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100% - 111px);
        margin-top: 0px;
    }
    
    /* Background blur element */
    .background-blur {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
       width: 806px;
        height: 806px;
        z-index: -1;
                top: -595px;
    }
    
    /* Logo section */
    .logo-section {
        padding-left: 40px;
        padding-top: 40px;
        position: relative;
        z-index: 3;
    }

    
    /* Lock icon */
    .lock {
        z-index: -2;
        width: 222px;
        height: 278px;
    }
    
    /* Headings */
    .main-heading {
        font-size: 60px;
        color: white;
        font-weight: bold;
        line-height: 75px;
        margin-bottom: -10px;
        margin-top: -116px;
    }
    
    .sub-heading {
        font-size: 50px;
        color: white;
        font-weight: bold;
        line-height: 65px;
    }
    
    .description {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 50px;
        line-height: 32px;
        width: 661px;
        text-align: center;
    }
    
    /* Form elements */
    .form-input {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 12px;
        padding: 10px 16px;
        font-size: 16px;
        line-height: 30px;
        outline: none;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
    }
    
    .form-input:focus {
        box-shadow: none;
        outline: none;
    }
    
    .form-input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    
 
    .email-input {
        margin-bottom: 30px;
    }
    
    /* CTA Button */
    .cta-button {
        background-color: white;
        padding: 16px 40px;
        border-radius: 12px;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }
    

    .copyright {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    .drumlatch{
        width: 200px;
        height: 33.19px;

    }
}


/* ===== DESKTOP STYLES ONLY (1100px and above) ===== */
@media (min-width: 1100px) {
    
     .check{
        width: 20px;
        height: 20px;

    }
    /* Main container */
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100% - 83px);
        margin-top: 0px;
    }
    
    /* Background blur element */
    .background-blur {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 806px;
        height: 806px;
        z-index: -1;
    }
    
    /* Logo section */
    .logo-section {
        padding-left: 80px;
        padding-top: 50px;
        position: relative;
        z-index: 3;
    }
    
    /* Lock icon */
    .lock {
        z-index: -2;
        width: 222px;
        height: 278px;
    }
    
    /* Headings */
    .main-heading {
        font-size: 70px;
        color: white;
        font-weight: bold;
        line-height: 80px;
        margin-bottom: -10px;
        margin-top: -110px;
    }
    
    .sub-heading {
        font-size: 55px;
        color: white;
        font-weight: bold;
        line-height: 70px;
    }
    
    .description {
        font-size: 26px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 50px;
        line-height: 35px;
        width: 661px;
        text-align: center;
    }
    
    /* Form elements */
    .form-input {
        width: 613px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 12px;
        padding: 14px 16px;
        font-size: 18px;
        line-height: 32px;
        outline: none;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
    }
    
    .form-input:focus {
        box-shadow: none;
        outline: none;
    }
    
    .form-input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    
    .name-input {
        /* Additional name input styles if needed */
    }
    
    .email-input {
        margin-bottom: 30px;
    }
    
    /* CTA Button */
    .cta-button {
        background-color: white;
        padding: 20px 40px;
        border-radius: 12px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
   
    
    .copyright {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    .drumlatch{
        width: 305px;
        height: 50.61px;

    }
}

















